SUPABASE_URL=https://xzxvgslzcrmvhhqtkuue.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6eHZnc2x6Y3JtdmhocXRrdXVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTExMTUzMTEsImV4cCI6MjA2NjY5MTMxMX0.As1JqtW9DtubkgmPWa23qNIXJKvukGqTCrMY-_ma924