@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
	--width-screen-sm: var(--breakpoint-sm);
	--width-screen-md: var(--breakpoint-md);
	--width-screen-lg: var(--breakpoint-lg);
	--width-screen-xl: var(--breakpoint-xl);
	--width-screen-2xl: var(--breakpoint-2xl);
}
